body{
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
.top-food{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}

.order-botton{
    text-decoration: none;
    background-image: -webkit-linear-gradient(right,orange,tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 100px;
    
}
.orange-color{
    color: orange;
}
.under{
    margin-top: -20px;

}
.middle-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    margin-left: 80px;
    margin-bottom: 50px;
    display: flex;
    width: 100%;

}
.image-2{
    height: 500px;
    width: 300px;
    margin-bottom: -83px;
    padding-left: 100px;
}
.text-postion{
    padding-top:50px ;
    width: 50%;
    height: 100%;
    padding-right:80px ;
    margin-left:-150px;
    padding-top: 120px;
}
.text-postion p{
    height: 80%;
    width: 70%;
}
.text-center{
    text-align: center;
}
.text-center p{
    width: 50%;
    margin-left: 470px;
}
.recipies-item{
    display: flex;
    width: 65%;
    margin-left: 15px;
}
.food-recipies{
    width: 30%;
    margin-left: 150px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5%;
    padding: 15px;
}
.image-3{
    height: 200px;
    width: 300px;
}
#some-radius{
    border-radius: 5%;
}
.famous{
    display: flex;
    padding: 50px;
}
.like{
    margin-left: 300px;
}
.image-size{
    width: 300px;
    height: 250px;
    border-radius: 5%;
    margin: 80px;
    
}
.food-manu{
    text-align: center;
    border: 2px solid;
    padding: 10px,40px;
    background-image: -webkit-linear-gradient(right,blue,cyan);
}
.flax-manu-1{
    display: flex;
}
.flax-manu-2{
    display: flex;
}
.flax-manu-3{
    display: flex;
}
.price-1{
    text-align: center;
    margin-top: -90px;
}
footer{
    background-color: black;
    border: 2px solid;
    padding: 10px,40px;
    margin-left: 80px;
    margin-right: 80px;
}
.text-footer{
    text-align: center;
}
.footer-center{
    text-align: center;
    color: white;
}
.food-color{
   color: orange
}
.net-color{
    color: grey;
}