body{
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
.top-food{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}

.order-botton{
    text-decoration: none;
    background-image: -webkit-linear-gradient(right,orange,tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 100px;
    
}
.orange-color{
    color: orange;
}
.under{
    margin-top: -20px;

}
.middle-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    margin-left: 80px;
    margin-bottom: 50px;
    display: flex;
    width: 100%;

}
.image-2{
    height: 500px;
    width: 300px;
    margin-bottom: -83px;
    padding-left: 100px;
}
.text-postion{
    padding-top:50px ;
    width: 50%;
    height: 100%;
    padding-right:80px ;
    margin-left:-150px;
    padding-top: 120px;
}
.text-postion p{
    height: 80%;
    width: 70%;
}